/* ----GENERAL STYLES---- */

body {
    font-family: "Poppins", sans-serif;
    color: #8f95a5;
    background-color: #fff;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1378px;
    padding: 0 20px;
}

/* ----GENERAL STYLES---- */
/* ----HEADER STYLES---- */

.logo-header {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: #000;
    padding: 63px 0;
    margin-right: 236px;
}

.logo-span {
    color: #939393;
}

.container.header-container {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-right: 121px;
}

.nav-link {
    display: block;
    padding-top: 75px;
    padding-bottom: 75px;
    font-weight: 500;
    font-size: 20px;
    color: #263238;
}

.header-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
    border: 2px solid #263238;
    border-radius: 10px;
    background-color: #fff;
    width: 312px;
    height: 70px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.header-btn:hover, .header-btn:focus {
    color: #fff;
    background-color: #263238;
}

.header-btn-wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
}

/* ----HEADER STYLES---- */
/* ----HERO SECTION STYLES---- */

.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: #000;
    margin-bottom: 40px;
    width: 386px;
    height: 240px;
}

.hero-text {
    font-size: 24px;
    margin-bottom: 60px;
    width: 540px;
    height: 108px;
}

.hero-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    width: 426px;
    height: 100px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.hero-btn:hover, .hero-btn:focus {
    color :#fff;
    background-color: #263238;
}

.hero-btn-wrapper {
    padding-bottom: 180px;
}

.container.hero-container {
    display: flex;
    background-image: url(../images/learning-languages.svg);
    background-repeat: no-repeat;
    background-size: 654px 510px;
    background-position: right top;
}

/* ----HERO SECTION STYLES---- */
/* ----SKILLS SECTION STYLES---- */

.skills-section-title {
    font-weight: 600;
    font-size: 48px;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skill-title {
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    padding-left: 18px;
    margin-bottom: 20px;
}

.skill-item {
    border-radius: 10px;
    width: 426px;
    height: 947px;
    background-color: #f5f5f5;
}

.skill-item.skill-writing {
    height: 579px;
}

.skill-img {
    padding-top: 32px;
    padding-right: 18px;
    padding-left: 18px;
    margin-bottom: 24px;
}

.skill-text {
    padding-left: 18px;
    padding-right: 49px;
    margin-bottom: 30px;
}

.skill-text.skill-speaking {
    padding-right: 61px;
}

.skill-btn.big {
    width: 230px;
}

.skill-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    background-color: transparent;
    border-radius: 10px;
    width: 218px;
    height: 60px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.skill-btn:hover, .skill-btn:focus {
    color: #ffffff;
    background-color: #263238;
}

.skills-btn-wrapper {
    padding-left: 18px;
    padding-bottom: 32px;
}

.skill-listening-item {
    padding: 32px 18px;
    display: flex;
    border-radius: 10px;
    width: 882px;
    height: 338px;
    background-color: #f5f5f5;
    margin-bottom: 180px;
}

.skill-listening-wrapper {
}

.skill-listening-title {
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    margin-bottom: 20px;
}

.skill-listening-text {
    margin-bottom: 30px;
    width: 324px;
    margin-right: 114px;
}

.skill-listening-img {
    width: 408px;
    height: 274px;
}

.skill-listening-btn {
    cursor: pointer;
    border-radius: 10px;
    width: 218px;
    height: 60px;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-bottom: 79px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.skill-listening-btn:hover,
.skill-listening-btn:focus {
    color: #ffffff;
    background-color: #263238;
}

/* ----SKILLS SECTION STYLES---- */
/* ----ABOUT SECTION STYLES---- */

.container.about-wrapper {
    display: flex;
}

.about-title {
    font-weight: 600;
    font-size: 48px;
    color: #000;
    margin-bottom: 60px;
}

.about-text {
    font-size: 20px;
    line-height: 1.8;
    width: 652px;
    margin-right: 146px;
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    gap: 131px;
    padding-left: 50px;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    width: 540px;
    height: 540px;
    margin-bottom: 180px;
}

.about-item-title {
    font-weight: 600;
    font-size: 48px;
    color: #263238;
    margin-bottom: 6px;
}

.about-item-text {
    font-size: 20px;
    text-align: center;
}

/* ----ABOUT SECTION STYLES---- */
/* ----PRICING SECTION STYLES---- */

.pricing-section-title {
    font-weight: 600;
    font-size: 48px;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}

.pricing-item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
    color: #263238;
    margin-bottom: 20px;
}

.pricing-section-img {
    margin-bottom: 31px;
    width: 426px;
    height: 320px;
}

.pricing-section-list {
    display: flex;
    gap: 30px;
}

.pricing-item-text {
    font-size: 20px;
    margin-bottom: 60px;
}

.pricing-item-text.first {
    margin-bottom: 30px;
}

.pricing-section-item {
    width: 426px;
    height: 583px;
    margin-bottom: 180px;
}

.price-label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 28px;
    border-radius: 10px;
    padding: 4px 30px;
    width: 266px;
    height: 44px;
    background-color: #eee;
}

.price-label-first-text {
    font-size: 24px;
    text-align: center;
    color: #263238;
}

.price-label-second-text {
    font-size: 18px;
    text-align: center;
    color: #546269;
}

/* ----PRICING SECTION STYLES---- */
/* ----CONTACT SECTION STYLES---- */

.contact-section-title {
    font-weight: 600;
    font-size: 48px;
    color: #000;
    margin-bottom: 60px;
}

.contact-section-text {
    font-size: 20px;
    margin-bottom: 30px;
    width: 654px;
}

.container.contact-section-container {
    display: flex;
}

.contact-section-img {
    width: 425px;
    height: 430px;
    margin-right: 144px;
    margin-bottom: 55px;
}

.subscribe-input {
    border: 1px solid #8f95a5;
    border-radius: 10px;
    width: 425px;
    height: 70px;
    line-height: 1.875;
    padding: 20px 30px;
    margin-right: 30px;
}

.subscribe-btn {
    cursor: pointer;
    border-radius: 10px;
    width: 312px;
    height: 70px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000000;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.subscribe-btn:hover, .subscribe-btn:focus {
    color: #ffffff;
    background-color: #263238;
}

.subscribe-form {
    display: flex;
}

/* ----CONTACT SECTION STYLES---- */
/* ----FOOTER STYLES---- */

.container.footer-container {
    border-top: 1px solid #c4c4c4;
    display: flex;
}

.logo-footer {
    display: block;
    font-weight: 400;
    font-size: 36px;
    color: #000;
    padding-top: 22px;
    padding-bottom: 77px;
}

.footer-list {
    display: flex;
    margin-left: auto;
    gap: 80px;
}

.footer-link {
font-weight: 400;
font-size: 24px;
letter-spacing: 0.02em;
color: #8f95a5;
padding-top: 31px;
padding-bottom: 86px;
}

.footer-list-item {
    padding-top: 31px;
    padding-bottom: 86px;
}